[flake8]
max-line-length = 100
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv
# E203 is not PEP 8 compliant and conflicts with black
# W503 is not PEP 8 compliant
ignore = E203, W503, E731
max-complexity = 15
